@model IPagedList<WebParser.publications>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Публикации";
}
<!DOCTYPE html>

<html>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <a href="/Publications/Index" class="col-form-label">
                    <h3 class="text-center mt-2">Публикации</h3>
                    <hr />
                </a>
                @if (ViewData["messageType"] != null && ViewData["message"] != null)
                {
                    <div class="alert alert-@ViewData["messageType"] alert-dismissible text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <b>@ViewData["message"]</b>
                    </div>
                }

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @if (ViewData["Update"] != null && ViewData["Titlesss"] != null)
                {
                    <h3 class="text-center text-info">
                        Изменить Публикацию
                    </h3>
                }
                else
                {
                    <h3 class="text-center text-info">
                        Добавить Публикацию
                    </h3>
                }

                <form action="" method="post" class="needs-validation" name="main" novalidate>
                    <div class="form-group">
                        <div class="form-group">
                            <input type="text" name="titleInput" class="form-control" placeholder="Заголовок" value="@ViewData["Titlesss"]" maxlength="200" required />
                            <div class="invalid-feedback">
                                Введите менее 200 символов
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="number" name="yearInput" class="form-control" placeholder="Год издания" value="@ViewData["Year"]" min="1900" max="2020" maxlength="4" required />
                            <div class="invalid-feedback">
                                Значение должно быть между 1900 и 2020 годами.
                            </div>
                        </div>
                        @if (ViewData["Update"] != null && ViewData["Titlesss"] != null)
                        {
                            <input type="submit" name="editKeyword" class="btn btn-success btn-block" value="Изменить" formaction="@Url.Action("Update", "Publications", new { titleInput = Request.QueryString["titleInput"], idInput = ViewData["Id"], yearInput = ViewData["yearInput"]})" />
                        }
                        else
                        {
                            <input type="submit" name="addKeyword" class="btn btn-primary btn-block" value="Добавить" formaction="Create" />
                        }
                    </div>
                </form>
                <form action="Index">
                    <div class="form-group">
                        <input class="form-control mr-lg-3" name="searchText" type="search" placeholder="Поиск по публикации" aria-label="Search">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-warning btn-block" type="submit">Найти</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <h3 class="text-center text-info">Записи в базе данных</h3>
                <table class="table table-hover table-dark table-bordered table-responsive-md">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">
                                <h4>Заголовок</h4>
                            </th>
                            <th class="text-center">
                                <h4>Год издания</h4>
                            </th>
                            <th class="text-center">
                                <h4>Действия</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <h6 class="text-center mt-2">@Html.DisplayFor(modelItem => item.title)</h6>
                                </td>
                                <td>
                                    <h6 class="text-center mt-2">@Html.DisplayFor(modelItem => item.year)</h6>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            <button href="#" onclick="location.href='@Url.Action("Edit", "Publications", new {id = item.id})'" class="btn btn-warning btn-block btn-sm">Изменить</button>
                                        </div>
                                        <div class="col">
                                            <button href="#" onclick="location.href='@Url.Action("Delete", "Publications", new {id = item.id})'" class="btn btn-danger btn-block btn-sm">Удалить</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @Html.PagedListPager(Model, i => Url.Action("", "Publications/", new { i, searchText = Request.QueryString["searchText"] }))

            </div>
        </div>
    </div>

    <script>

        var form = document.querySelector('.needs-validation');

        form.addEventListener('submit', function (event) {

            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        })
    </script>


</body>
</html>