
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Связи";
}

<!DOCTYPE html>

<html>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <a href="/Multi/Index" class="col-form-label">
                    <h3 class="text-center mt-2">Автор -> Публикация</h3>
                    <hr />
                </a>
                @if (ViewData["messageType"] != null && ViewData["message"] != null)
                {
                    <div class="alert alert-@ViewData["messageType"] alert-dismissible text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <b>@ViewData["message"]</b>
                    </div>
                }
                <form action="CreateAP" method="post">
                    <select id="Author" name="Authors" class="custom-select">
                        <option selected value="Default">Выберите автора</option>
                        @foreach (var item in ViewBag.authors)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <select id="Publications" name="Publications" class="custom-select">
                        <option selected value="Default">Выберите публикацию</option>
                        @foreach (var item in ViewBag.publications)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <input type="submit" class="btn btn-primary btn-block" value="Добавить" />
                </form>
            </div>
            <div class="col-md-3">
                <a href="/Multi/Index" class="col-form-label">
                    <h3 class="text-center mt-2">Публикация -> Источник</h3>
                    <hr />
                </a>
                <form action="CreatePS" method="post">
                    <select id="Publications" name="Publications" class="custom-select">
                        <option selected value="Default">Выберите публикацию</option>
                        @foreach (var item in ViewBag.publications)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <select id="Sources" name="Sources" class="custom-select">
                        <option selected value="Default">Выберите источник</option>
                        @foreach (var item in ViewBag.source)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <input type="submit" class="btn btn-primary btn-block" value="Добавить" />
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <a href="/Multi/Index" class="col-form-label">
                    <h3 class="text-center mt-2">Публикация -> Ключевое слово</h3>
                    <hr />
                </a>
                <form action="CreatePK" method="post">
                    <select id="Publications" name="Publications" class="custom-select">
                        <option selected value="Default">Выберите публикацию</option>
                        @foreach (var item in ViewBag.publications)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <select id="Keywords" name="Keywords" class="custom-select">
                        <option selected value="Default">Выберите слово</option>
                        @foreach (var item in ViewBag.source)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <input type="submit" class="btn btn-primary btn-block" value="Добавить" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>
